
<div class="menu-layout">
  <!-- Salia error porque tenias un / ahi xxddxxx-->
  <nav class="menu-container">
    <ul>
      <li><a routerLink="informacion" routerLinkActive="active">Información</a></li>
      <li><a routerLink="articulos" routerLinkActive="active">Artículos</a></li>
      <li><a routerLink="gastos" routerLinkActive="active">Gastos</a></li>
      <li><a routerLink="personal" routerLinkActive="active">Personal</a></li>
    </ul>
  </nav>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
