@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.ag-theme-quartz {
    font-family: 'Arial', sans-serif;
    background-color: #ffe4e9 !important;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 60px; 
    border: 1px solid #fcb1c1; 
}


.ag-header-cell {
    background-color: #fcb1c1 !important; 
    color: #fff !important; 
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #f7a8b6!important;
}


.ag-cell {
    background-color: #fffafc !important;
    color: #333 !important;
    border-bottom: 1px solid #fcb1c1 !important;
    font-size: 14px;
}

.ag-row:hover {
    background-color: #ffeef1 !important;
    transition: background-color 0.3s ease;
}


.ag-row-selected {
    background-color: #fcb1c1 !important;
    color: #fff !important;
}


.header {
    text-align: center;  
    margin-bottom: 20px;  
}


.title {
    font-size: 36px !important; 
    font-weight: bold !important; 
    color: #f76b8a !important; 
}